.benefits {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'first second'
        'third fourth';
        column-gap: 30px;
        row-gap: 100px;
        padding-bottom: 140px;

        &__general {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: block;
            width: 100%;
            max-width: 570px;
            height: 250px;
            border-top: 1px solid #515773;
        }
            &__first {
                grid-area: first;
            }
                &__second {
                    grid-area: second;
                }
                    &__third {
                        grid-area: third;
                    }
                        &__fourth {
                            grid-area: fourth;
                        }
                            &__name {
                                font-family: $font-secondary;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 40px;
                                line-height: 48px;
                                color: $white-default;
                                padding-top: 50px;
                                padding-bottom: 30px;
                                width: 100%;
                                max-width: 500px;
                            }
                                &__description {
                                    width: 100%;
                                    max-width: 495px;
                                }
}

@media screen and (max-width: $sm) {
    .benefits {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
        .benefits__general {
            height: 200px;
        }
            .benefits__name {
                font-size: 30px;
                line-height: 38px;
                padding-top: 15px;
                padding-bottom: 20px;
            }
}